@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('GothamPro.eot');
    src: url('GothamPro.eot?#iefix') format('embedded-opentype'),
    url('GothamPro.woff') format('woff'),
    url('GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Light';
    src: url('GothamPro-Light.eot');
    src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),
    url('GothamPro-Light.woff') format('woff'),
    url('GothamPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('GothamPro-Medium.eot');
    src: url('GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('GothamPro-Medium.woff') format('woff'),
    url('GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Black';
    src: url('GothamPro-Black.eot');
    src: url('GothamPro-Black.eot?#iefix') format('embedded-opentype'),
    url('GothamPro-Black.woff') format('woff'),
    url('GothamPro-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}