// Импорты
@import '../fonts/font-face.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import './vars.scss';

// Общие стили
body {
    font-family: $font-main-reg, Helvetica, sans-serif;
    font-size: $size-main;
    box-sizing: border-box !important;
}
ul {
    list-style: none;
}
a {
    color: $color-link;

    &:hover {
        text-decoration: none;
    }
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.w {
    &-sm {
        &-25 {
            @media screen and (min-width: 576px) {
                width: 25% !important;
            }
        }
        &-50 {
            @media screen and (min-width: 576px) {
                width: 50% !important;
            }
        }
        &-75 {
            @media screen and (min-width: 576px) {
                width: 75% !important;
            }
        }
        &-100 {
            @media screen and (min-width: 576px) {
                width: 100% !important;
            }
        }
    }
    &-md {
        &-25 {
            @media screen and (min-width: 768px) {
                width: 25% !important;
            }
        }
        &-50 {
            @media screen and (min-width: 768px) {
                width: 50% !important;
            }
        }
        &-75 {
            @media screen and (min-width: 768px) {
                width: 75% !important;
            }
        }
        &-100 {
            @media screen and (min-width: 768px) {
                width: 100% !important;
            }
        }
    }
    &-lg {
        &-25 {
            @media screen and (min-width: 992px) {
                width: 25% !important;
            }
        }
        &-50 {
            @media screen and (min-width: 992px) {
                width: 50% !important;
            }
        }
        &-75 {
            @media screen and (min-width: 992px) {
                width: 75% !important;
            }
        }
        &-100 {
            @media screen and (min-width: 992px) {
                width: 100% !important;
            }
        }
    }
    &-xl {
        &-25 {
            @media screen and (min-width: 1200px) {
                width: 25% !important;
            }
        }
        &-50 {
            @media screen and (min-width: 1200px) {
                width: 50% !important;
            }
        }
        &-75 {
            @media screen and (min-width: 1200px) {
                width: 75% !important;
            }
        }
        &-100 {
            @media screen and (min-width: 1200px) {
                width: 100% !important;
            }
        }
    }
}

// Индивидуальные стили
.button {
    color: #333;
    font-size: 18px;
    font-family: $font-main-medium;
    background-color: #feeb17;
    border: 0;
    outline: 0;
    padding: 25px 0;
    padding-left: 65px;
    padding-right: 65px;
    text-align: center;
    transition: background ease .7s, color .7s, display ease .7s;

    &:hover {
        color:#feeb17;
        background: #333;
    }

    &:focus {
        border: 0;
        outline: 0;
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}
.dropdown {
    &-toggle {

        &:hover {
            cursor: pointer;
        }
    }

    &-item {

        &:hover {
            cursor: pointer;
        }
    }
}
.container {
    
    @media screen and (min-width: 1300px) {
        min-width: 1285px !important;
        padding: 0;
    }
}
.dropdown {
    &-toggle {
        position: relative;
        margin-right: 20px;

        &::after {
            border: 0;
            background: url('../img/arrow-accord.png') right no-repeat;
            display: block;
            position: absolute;
            width: 20px;
            height: 100%;
            content: '';
            top: 0;
            right: -30px;
            transform: rotate(180deg);
        }
    }
}
h1 {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
        text-align: center;
    }

    span {
        &:first-child {
            font-size: 87px;
            font-family: $font-main-black;

            @media screen and (max-width: 1199px) {
                font-size: 40px;
            }

            @media screen and (max-width: 600px) {
                font-size: 30px;
            }
        }

        &:last-child {
            font-size: 24px;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
    }
}
.span {
    &__tagline {
        font-family: $font-main-black;
    }

    &__price {
        font-family: $font-main-black;
        font-size: 18px;

        @media screen and (max-width: 450px) {
            font-size: 15px;
        }

        &-num {
            font-size: 26px;
            font-weight: 300;

            @media screen and (max-width: 1270px) {
                font-size: 20px;
            }

            @media screen and (max-width: 1199px) {
                font-size: 26px;
            }

            @media screen and (max-width: 450px) {
                font-size: 18px;
            }
        }
    }
}
h2 {
    color: #20231e;
    // line-height: 35px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;

    span {
        &:first-child {
            font-family: $font-main-black;
            font-size: 60px;
            line-height: 35px;
            margin-bottom: 14px;
            line-height: 35px;

            @media screen and (max-width: 1199px) {
                font-size: 33px;
            }
        }

        &:last-child {
            font-size: 16px;
            margin-left: 3px;
            line-height: 20px;
        }
    }

    &::before {
        position: absolute;
        top: -20%;
        left: -10px;
        width: 100%;
        z-index: -1;
        height: 120%;
        content: '';
        border-left: 18px solid #feeb17;
    }
}
.section {
    &-header {
        background: url('../img/header-big-bg.png') center no-repeat;
        min-height: 100vh;
        padding: 63px 0 600px;
        border-top: 9px solid #d0d0d0;

        .dropdown-toggle {
            &::before {
                content: '';
                width: 12px;
                height: 100%;
                left: -25px;
                position: absolute;
                top: 0;
                background: url('../img/call-answer.png') center left no-repeat;
            }
        }

        @media screen and (min-width: 1920px) {
            background: url('../img/header-big-bg.png') center no-repeat;
            background-size: cover;
        }

        &__info {
            margin-top: 50px;
            margin-bottom: 59px;
            font-size: 24px;

            @media screen and (max-width: 1199px) {
                font-size: 16px;
            }

            &-price {
                position: relative;
                margin-bottom: 0;
                border-bottom: 1px dashed black;

                @media screen and (max-width: 767px) {
                    margin-left: 57px;
                }

                @media screen and (max-width: 350px) {
                    margin-left: 0;
                }

                &:hover {
                    cursor: pointer;
                    border-bottom: 1px solid black;
                }

                &::before {
                    position: absolute;
                    top: -50%;
                    left: -57px;
                    content: '';
                    width: 35px;
                    height: 48px;
                    background: url('../img/icon-list.png') center left no-repeat;

                    @media screen and (max-width: 350px) {
                        display: none;
                    }
                }
            }
        }

        &__nav {

        }

        &__logo {
            margin-right: 24px;

            @media screen and (max-width: 991px) {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }

        &__tagline {
            width: 200px;
            color: #20231e;

            @media screen and (max-width: 991px) {
                width: auto;
            }

            @media screen and (max-width: 400px) {
                width: 100%;
                text-align: center;
            }
        }

        &__col {
            text-align: right;

            @media screen and (max-width: 767px) {
                text-align: center;
                margin-top: 24px;
            }
        }

        &__item {
            width: 769px;
            margin-top: 157px;

            @media screen and (max-width: 991px) {
                width: 100%;
            }
        }

        &-phone {
            a {
                border-bottom: 1px dashed black;

                &:hover {
                    color: black;
                    border-bottom: 1px solid black;
                }
            }
        }

        &__form {
            margin-top: 100px;
            left: 50%;
            transform: translateX(-50%);
            width: 1282px;
            box-shadow: 0 10px 53px 4px rgba(32, 35, 30, 0.1);
            position: absolute;
            z-index: 5;

            @media screen and (max-width: 1350px) {
                width: 95%;
            }

            .dropdown-toggle {
                &::before {
                    display: none;
                }
            }

            .form-block_amount-count {
                @media screen and (max-width: 400px) {
                    font-size: 14px;
                }
            }

            .form__block {
                @media screen and (max-width: 400px) {
                    font-size: 14px;
                }

                &-drop {
                    @media screen and (max-width: 400px) {
                        font-size: 14px;
                    }

                    .dropdown-menu {

                    }
                }
            }

            &-col {

                &__first {
                    padding: 60px 55px 65px 60px;
                    
                    @media screen and (max-width: 1320px) {
                        padding: 60px 25px 65px;
                    }

                    @media screen and (max-width: 1220px) {
                        padding: 60px 10px 65px;
                    }

                    @media screen and (max-width: 1199px) {
                        padding: 60px 55px 65px 60px;
                    }

                    @media screen and (max-width: 991px) {
                        padding: 60px 10px 65px;
                    }
                }

                &__second {
                    padding: 60px 50px 65px 55px;
                    background-color: #f5f5f5;

                    @media screen and (max-width: 576px) {
                        padding: 60px 30px;
                    }

                    @media screen and (max-width: 335px) {
                        padding: 60px 20px;
                    }

                    .row {
                        margin-bottom: 40px;

                        @media screen and (max-width: 1199px) {
                            margin-left: auto !important;
                            margin-right: auto !important;
                        }

                        @media screen and (max-width: 576px) {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                        }
                        
                    }

                    p {
                        &:first-of-type {
                            margin-bottom: 40px;
                        }

                        &:last-of-type {
                            margin-bottom: 35px;
                        }
                    }

                    @media screen and (max-width: 1250px) {
                        .button {
                            font-size: 14px;
                        }
                    }

                    @media screen and (max-width: 1199px) {
                        .button {
                            font-size: 18px;
                        }
                    }

                    @media screen and (max-width: 440px) {
                        .button {
                            font-size: 16px;
                        }
                    }

                    @media screen and (max-width: 346px) {
                        .button {
                            font-size: 14px;
                        }
                    }
                }
            }

            &-row {
                margin-bottom: 60px;

                &:last-child {
                    margin-bottom: 0;
                }

                @media screen and (max-width: 991px) {
                    margin-bottom: 0;
                }
            }

            &-title {
                background-color: #feeb17;
                padding: 55px 48px 45px 59px;
                position: relative;
                // left: -50%;

                @media screen and (max-width: 576px) {
                    padding: 55px 25px 45px;
                }

                h5 {
                    color: #20231e;
                    font-family: $font-main-black;
                    font-size: 30px;
                    margin-bottom: 17px;
                    // line-height: 35px;

                    @media screen and (max-width: 500px) {
                        font-size: 22px;
                    }
                }

                p {
                    @media screen and (max-width: 500px) {
                        font-size: 14px;
                    }
                }
            }

            &-body {
                background: #fff;
                position: relative;
                // left: -50%;
            }
        }
    }

    &-services {
        background: #f2f3f5;
        padding: 450px 0 154px;

        @media screen and (max-width: 1199px) {
            padding: 900px 0 154px;
        }

        @media screen and (max-width: 991px) {
            padding: 1000px 0 154px;
        }

        @media screen and (max-width: 640px) {
            padding: 1050px 0 154px;
        }

        h2 {
            margin-bottom: 101px;
        }

        .button {
            // opacity: 0;
            display: none;
            width: 100%;
            // margin-top: 69px;
            // margin-top: 10px;
        }

        &-wrap {
            display: grid;
            grid-template-columns: 385px 385px 385px;
            row-gap: 60px;
            column-gap: 65px;
            width: 100%;

            @media screen and (max-width: 1400px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (max-width: 991px) {
                grid-template-columns: 1fr;
            }
        }

        &-card {
            padding: 61px 55px 61px 71px !important;
            background-color: #fff;
            transition: background ease .7s;

            @media screen and (max-width: 576px) {
                padding: 61px 30px !important;
            }

            &:hover {
                cursor: pointer;
                background-color: #6e6e6e;

                .section-services-card__title {
                    color: #fff;
                    font-size: 18px;
                }

                .section-services-card__text {
                    color: #fff;
                    font-size: 14px;
                }

                .button {
                    // opacity: 1;
                    display: block;
                }
            }

            &__img {
                margin-bottom: 61px;
            }

            &__title {
                color: #20231e;
                font-family: $font-main-black;
                font-size: 20px;
                margin-bottom: 24px;
                transition: color ease .7s, font-size ease .7s;
            }

            &__text {
                line-height: 24px;
                transition: color ease .7s, font-size ease .7s;

                p {
                    margin-bottom: 24px !important;

                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    &-technology {
        padding: 115px 0 154px;

        @media screen and (max-width: 1345px) {
            padding: 115px 0 0;
        }

        h2 {
            margin-bottom: 105px;
        }

        &-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @media screen and (max-width: 1345px) {
                grid-template-columns: 1fr;
                width: 50%;
                margin: 0 auto;
            }

            @media screen and (max-width: 991px) { 
                margin: 0;
                width: 100%;
            }

            &__card {

                &:last-child {
                    margin-top: 27px;

                    .section-technology-wrap__card__text {
                        padding: 70px 55px 85px 83px;

                        @media screen and (max-width: 576px) { 
                            padding: 50px 30px;
                        }
                    }
                }

                &:first-child {

                    .section-technology-wrap__card__text {
                        padding: 70px 65px 120px 73px;
                        background-color: #feeb17;

                        @media screen and (max-width: 576px) { 
                            padding: 50px 30px;
                        }
                    }
                }

                &__text {

                    h4 {
                        margin-bottom: 35px;
                        font-family: $font-main-black;
                        font-size: 18px;
                        color: #20231e;
                    }

                    p {
                        margin-bottom: 35px !important;

                        &:last-child {
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }

    &-order {
        padding: 143px 0 117px;
        background: url('../img/order-bg.png') center no-repeat;
        position: relative;

        @media screen and (min-width: 1920px) {
            background-size: cover;
        }

        &::after {
            width: 100%;
            height: 100%;
            content: '';
            background: url('../img/oredr-girl.png') right bottom no-repeat;
            position: absolute;
            top: 0;
            left: 0;

            @media screen and (max-width: 1199px) {
                display: none;
            }
        }

        h2 {
            margin-bottom: 154px;
        }

        &-form {
            width: 628px;
            padding: 69px 95px 61px 88px;
            position: relative;
            z-index: 2;
            border-top: 15px solid #feeb17;
            background: #fff;
            box-shadow: 0 11px 65px rgba(0, 0, 0, 0.13);

            @media screen and (max-width: 1199px) {
                margin: 0 auto;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            @media screen and (max-width: 576px) {
                padding: 69px 15px;
            }

            h5 {
                color: #20231e;
                font-family: $font-main-black;
                font-size: 33px;
                margin-bottom: 26px;

                @media screen and (max-width: 1199px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }
            }

            &__tagline {
                width: 310px;
                color: #6e6e6e;
                margin: 0 auto 38px;

                @media screen and (max-width: 576px) {
                    width: 100%;
                }
            }

            .form__block {
                margin-top: 25px;

                &:last-child {
                    margin-top: 0;
                }
            }

            .button {
                margin-top: 48px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &-guarantee {
        padding: 107px 0 265px;
        position: relative;
        background: url('../img/garantee_bg.png') top no-repeat;
        // background-size: contain;

        @media screen and (max-width: 576px) {
            background-color: #f2f3f5;
            padding: 107px 0 50px;
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: url('../img/garantee-mini-bg.png') left 413px top 272px no-repeat;
            z-index: 2;

            @media screen and (max-width: 1690px) {
                display: none;
            }
        }

        h2 {
            margin-bottom: 116px;
        }

        &-list {
            justify-content: flex-end;

            @media screen and (max-width: 1690px) {
                justify-content: center;
            }

            @media screen and (max-width: 767px) {
                justify-content: flex-start;
            }

            ul {
                list-style: disc;
                width: 603px;
                height: 337px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #20231e;
                // padding: 0;

                @media screen and (max-width: 767px) {
                    width: 100%;
                    height: auto;
                }

                @media screen and (max-width: 567px) {
                    padding: 0 15px;
                }
            }

            li {
                // margin-bottom: 35px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-questions {
        padding: 90px 0 114px;

        &-accord {
            margin-top: 127px;
            position: relative;
            margin-left: 52px;

            @media screen and (max-width: 576px) {
                margin-left: 0;
            }

            &__item {
                position: relative;
                margin-bottom: 27px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(1) {
                    &::before {
                        content: '01';
                    }
                }

                &:nth-child(2) {
                    &::before {
                        content: '02';
                    }
                }

                &:nth-child(3) {
                    &::before {
                        content: '03';
                    }
                }

                &:nth-child(4) {
                    &::before {
                        content: '04';
                    }
                }

                &:nth-child(5) {
                    &::before {
                        content: '05';
                    }
                }

                &::before {
                    position: absolute;
                    width: 30px;
                    height: 85px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    left: -52px;
                    font-size: 30px;
                    color: #d0d0d0;

                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }
            }

            &__title {
                padding: 35px 40px 35px 134px;
                color: #20231e;
                font-family: $font-main-black;
                border: 3px solid #f2f3f5;
                position: relative;

                @media screen and (max-width: 767px) {
                    padding: 35px 10px 35px 100px;
                    // font-size: 14px;
                }

                @media screen and (max-width: 560px) {
                    padding: 35px 20px;
                    // font-size: 14px;
                }

                @media screen and (max-width: 490px) {
                    font-size: 14px;
                    text-align: center;
                }

                &:hover {
                    cursor: pointer;
                }

                &::before {
                    content: '?';
                    font-size: 54px;
                    color: #20231e;
                    font-family: $font-main-reg;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 85px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #feeb17;

                    @media screen and (max-width: 560px) {
                        display: none;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    right: 40px;
                    top: 0;
                    transition: all ease .7s;
                    background: url('../img/arrow-accord.png') center no-repeat;
                    transform: rotate(180deg);

                    @media screen and (max-width: 767px) {
                        bottom: 0;
                        background-position-y: 0;
                        right: 50%;
                    }
                }
            }

            &__body {
                padding: 51px 121px 48px 66px;
                border: 3px solid #f2f3f5;
                border-top: 0;
                position: relative;
                margin-left: 85px;
                display: none;

                @media screen and (max-width: 767px) {
                    padding: 45px 35px;
                }

                @media screen and (max-width: 570px) {
                    margin-left: 0;
                }

                ul {
                    padding: 0;
                    list-style: disc;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    right: 50%;
                    top: 0;
                    transition: all ease .7s;
                    background: url('../img/arrow-accord.png') bottom no-repeat;
                    transform: rotate(180deg);
                    display: none;
                }
            }
        }
    }

    &-more {
        background: url('../img/no-question-bg.png') top no-repeat;
        padding: 112px 0 120px;

        &-form {
            grid-area: form;
            width: 628px;
            border-top: 15px solid #feeb17;
            padding: 69px 95px 73px 88px;
            background: #fff;
            box-shadow: 0 11px 65px rgba(0, 0, 0, 0.13);

            @media screen and (max-width: 1399px) {
                margin: 0 auto;
            }

            @media screen and (max-width: 991px) {
                margin: 0;
                width: 100%;
            }

            @media screen and (max-width: 576px) {
                padding: 60px 20px;
            }

            h5 {
                font-size: 33px;
                font-family: $font-main-black;

                @media screen and (max-width: 1199px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 16px;
                }
            }

            &__tagline {
                width: 310px;
                color: #6e6e6e;
                margin: 26px auto 38px;
                // background: #000;

                @media screen and (max-width: 576px) {
                    width: 100%;
                }
            }

            .form__block {
                margin-bottom: 26px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .button {
                margin-top: 60px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        &-wrap {
            display: grid;
            grid-template-columns: 1fr 600px;
            column-gap: 98px;
            grid-template-areas: 'form item';

            @media screen and (max-width: 1399px) {
                grid-template-columns: 100%;
                grid-template-areas: 'item' 'form';
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 120px;
            grid-area: item;    

            @media screen and (max-width: 1399px) {
                padding-bottom: 0;
                margin-bottom: 50px;
            }

            p {
                @media screen and (max-width: 1399px) {
                    width: 70%;
                    text-align: center;
                    margin: 0 auto;
                }

                @media screen and (max-width: 991px) {
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }
            }
        }

        h2 {
            span {
                &:first-child {
                    font-size: 60px;
                    line-height: 60px;

                    @media screen and (max-width: 1199px) {
                        font-size: 33px;
                        line-height: 30px;
                    }

                    // @media screen and (max-width: 1199px) {
                    //     font-size: 33px;
                    // }
                }
            }
        }
    }

    &-footer {
        background-color: #e1e1e1;
        padding: 84px 0 84px;

        a {

            &:hover {
                color: #000 !important;
                font-weight: bold !important;
            }
        }

        h6 {
            color: #333333;
            font-family: $font-main-black;
            font-size: 20px;
            line-height: 42px;

            @media screen and (max-width: 600px) {
                font-size: 18px;
            }
        }

        &-block {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            @media screen and (max-width: 1299px) {
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &__col {
                // width: 332px;

                &-tagline {
                    @media screen and (max-width: 1199px) {
                        font-size: 14px;
                    }

                    @media screen and (max-width: 991px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 14px;
                        text-align: center;
                    }
                }

                &-logo {
                    margin-bottom: 38px;

                    p {
                        width: 170px;
                        color: #20231e;
                        margin-top: 20px;
                    }
                }

                &:nth-child(1) {
                    margin-right: 105px;
                    width: 335px;

                    @media screen and (max-width: 1299px) {
                        width: 45%;
                        margin-right: 5%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    @media screen and (max-width: 991px) {
                        width: 100%;
                        margin-right: 0;
                    }
                }

                &:nth-child(2) {
                    margin-right: 60px;
                    width: 260px;

                    @media screen and (max-width: 1299px) {
                        width: 45%;
                        margin-right: 0;

                        h6 {
                            text-align: center;
                        }
                    }

                    @media screen and (max-width: 991px) {
                        width: 100%;
                        text-align: center;
                        margin-top: 25px;
                    }
                }

                &:nth-child(3) {
                    width: 160px;
                    margin-right: 65px;

                    @media screen and (max-width: 1299px) {
                        width: 45%;
                        margin-right: 5%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 25px;
                    }

                    @media screen and (max-width: 991px) {
                        width: 100%;
                        margin-right: 0;
                    }
                }

                &:nth-child(4) {
                    width: 305px;

                    @media screen and (max-width: 1299px) {
                        width: 45%;
                        margin-right: 0;
                        margin-top: 25px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    @media screen and (max-width: 991px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.active__acord {
    .section-questions-accord__title {
        &::after {
            @media screen and (min-width: 768px) {
                transform: rotate(0deg) !important;
            }

            @media screen and (max-width: 767px) {
                background-position-y: -100%;
            }
        }
    }

    .section-questions-accord__body {
        &::after {
            @media screen and (max-width: 767px) {
                display: block;
                background-position-y: 100%;
                transform: rotate(0deg) !important;
            }
        }
    }
}

.social-block {

    a {
        color: #757575;
        font-size: 12px;
        line-height: 28px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 33px;
        padding-top:  27px;
    }
}

.no-wrap {
    white-space: nowrap;
}


.form {
    &__wrap {
        // input {
        //     font-size: 14px;
        // }
    }

    &-block {
        &_amount {

            @media screen and (max-width: 991px) {
                padding: 20px 0;
            }

            &-btn {
                &:hover {
                    cursor: pointer;
                    background-color: #f8f8f8;
                }
            }

            .col-5 {
                &:last-of-type {
                    span {
                        width: 33.3%;
                        &:nth-of-type(2) {
                            background-color: #f8f8f8;
                        }
                    }
                }
            }
        }
    }

    &__block {
        border-radius: 3px;
        background-color: #f8f8f8;
        padding: 27px 5px 23px 23px;

        @media screen and (max-width: 991px) {
            padding: 27px 5px 23px 15px;
        }

        @media screen and (max-width: 576px) {
            padding: 15px 5px 15px 15px;
        }

        input {
            color: #6e6e6e;
            background: transparent;

            &:focus {
                border: 0;
                outline: 0;
            }
        }

        &-drop {
            background-color: #f8f8f8;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 991px) {
                padding: 20px 0;
            }

            .dropdown-toggle {
                background-color: #f8f8f8;

                &::after {
                    right: 0;
                }
            }
        }
    }
}

.date-picker-text {
    @media screen and (max-width: 576px) {
        font-size: 14px;
    }

    @media screen and (max-width: 348px) {
        font-size: 12px;
    }
}

.agree-row {
    input {
        margin-top: 5px;
    }

    label { 
        margin-left: 21px;
        font-size: 13px;
    }

    @media screen and (max-width: 1199px) {
        input {
            margin-top: -5px;
        }
    }
}

textarea {
    resize: none;
    background-color: #f8f8f8;
    padding: 10px 15px;

    &:focus {
        outline: none;
        border: 0;
    }
}