@import url(../fonts/font-face.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
body {
  font-family: "Gotham Pro Regular", Helvetica, sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

ul {
  list-style: none; }

a {
  color: #000; }
  a:hover {
    text-decoration: none; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

@media screen and (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important; } }
@media screen and (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important; } }
@media screen and (min-width: 576px) {
  .w-sm-75 {
    width: 75% !important; } }
@media screen and (min-width: 576px) {
  .w-sm-100 {
    width: 100% !important; } }
@media screen and (min-width: 768px) {
  .w-md-25 {
    width: 25% !important; } }
@media screen and (min-width: 768px) {
  .w-md-50 {
    width: 50% !important; } }
@media screen and (min-width: 768px) {
  .w-md-75 {
    width: 75% !important; } }
@media screen and (min-width: 768px) {
  .w-md-100 {
    width: 100% !important; } }
@media screen and (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important; } }
@media screen and (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important; } }
@media screen and (min-width: 992px) {
  .w-lg-75 {
    width: 75% !important; } }
@media screen and (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important; } }
@media screen and (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important; } }
@media screen and (min-width: 1200px) {
  .w-xl-50 {
    width: 50% !important; } }
@media screen and (min-width: 1200px) {
  .w-xl-75 {
    width: 75% !important; } }
@media screen and (min-width: 1200px) {
  .w-xl-100 {
    width: 100% !important; } }

.button {
  color: #333;
  font-size: 18px;
  font-family: "Gotham Pro Medium";
  background-color: #feeb17;
  border: 0;
  outline: 0;
  padding: 25px 0;
  padding-left: 65px;
  padding-right: 65px;
  position: relative;
  z-index: 15;
  text-align: center;
  -webkit-transition: background ease .7s, color .7s, display ease .7s;
  transition: background ease .7s, color .7s, display ease .7s; }
  .button:hover {
    color: #feeb17;
    background: #333; }
  .button:focus {
    border: 0;
    outline: 0; }
  @media screen and (max-width: 576px) {
    .button {
      font-size: 16px; } }

.dropdown-toggle:hover {
  cursor: pointer; }
.dropdown-item:hover {
  cursor: pointer; }

@media screen and (min-width: 1300px) {
  .container {
    min-width: 1285px !important;
    padding: 0; } }

.dropdown-toggle {
  position: relative;
  margin-right: 20px; }
  .dropdown-toggle::after {
    border: 0;
    background: url("../img/arrow-accord.png") right no-repeat;
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    content: '';
    top: 0;
    right: -30px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 600px) {
    h1 {
      text-align: center; } }
  h1 span:first-child {
    font-size: 87px;
    font-family: "Gotham Pro Black"; }
    @media screen and (max-width: 1199px) {
      h1 span:first-child {
        font-size: 40px; } }
    @media screen and (max-width: 600px) {
      h1 span:first-child {
        font-size: 30px; } }
  h1 span:last-child {
    font-size: 24px; }
    @media screen and (max-width: 600px) {
      h1 span:last-child {
        font-size: 16px; } }

.span__tagline {
  font-family: "Gotham Pro Black"; }
.span__price {
  font-family: "Gotham Pro Black";
  font-size: 18px; }
  @media screen and (max-width: 450px) {
    .span__price {
      font-size: 15px; } }
  .span__price-num {
    font-size: 26px;
    font-weight: 300; }
    @media screen and (max-width: 1270px) {
      .span__price-num {
        font-size: 20px; } }
    @media screen and (max-width: 1199px) {
      .span__price-num {
        font-size: 26px; } }
    @media screen and (max-width: 450px) {
      .span__price-num {
        font-size: 18px; } }

h2 {
  color: #20231e;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  h2 span:first-child {
    font-family: "Gotham Pro Black";
    font-size: 60px;
    line-height: 35px;
    margin-bottom: 14px;
    line-height: 35px; }
    @media screen and (max-width: 1199px) {
      h2 span:first-child {
        font-size: 33px; } }
  h2 span:last-child {
    font-size: 16px;
    margin-left: 3px;
    line-height: 20px; }
  h2::before {
    position: absolute;
    top: -20%;
    left: -10px;
    width: 100%;
    z-index: -1;
    height: 120%;
    content: '';
    border-left: 18px solid #feeb17; }

.section-header {
  background: url("../img/header-big-bg.png") center no-repeat;
  padding: 63px 0 600px;
  border-top: 9px solid #d0d0d0; }
  @media screen and (max-width: 1199px) {
    .section-header {
      padding: 30px 0 600px; } }
  .section-header .dropdown-toggle::before {
    content: '';
    width: 12px;
    height: 100%;
    left: -25px;
    position: absolute;
    top: 0;
    background: url("../img/call-answer.png") center left no-repeat; }
  @media screen and (min-width: 1920px) {
    .section-header {
      background: url("../img/header-big-bg.png") center no-repeat;
      background-size: cover; } }
  .section-header__info {
    margin-top: 50px;
    margin-bottom: 59px;
    font-size: 24px; }
    @media screen and (max-width: 1199px) {
      .section-header__info {
        font-size: 16px; } }
    .section-header__info-price {
      position: relative;
      z-index: 15;
      margin-bottom: 0;
      border-bottom: 1px dashed black; }
      @media screen and (max-width: 767px) {
        .section-header__info-price {
          margin-left: 57px; } }
      @media screen and (max-width: 350px) {
        .section-header__info-price {
          margin-left: 0; } }
      .section-header__info-price:hover {
        cursor: pointer;
        border-bottom: 1px solid black; }
      .section-header__info-price::before {
        position: absolute;
        top: -50%;
        left: -57px;
        content: '';
        width: 35px;
        height: 48px;
        background: url("../img/icon-list.png") center left no-repeat; }
        @media screen and (max-width: 350px) {
          .section-header__info-price::before {
            display: none; } }
  .section-header__logo {
    margin-right: 24px; }
    @media screen and (max-width: 991px) {
      .section-header__logo {
        margin-right: 0;
        margin-bottom: 24px; } }
  .section-header__tagline {
    width: 200px;
    color: #20231e; }
    @media screen and (max-width: 991px) {
      .section-header__tagline {
        width: auto; } }
    @media screen and (max-width: 400px) {
      .section-header__tagline {
        width: 100%;
        text-align: center; } }
  .section-header__col {
    text-align: right; }
    @media screen and (max-width: 767px) {
      .section-header__col {
        text-align: center;
        margin-top: 24px; } }
  .section-header__item {
    width: 769px;
    margin-top: 157px; }
    @media screen and (max-width: 1199px) {
      .section-header__item {
        margin-top: 50px; } }
    @media screen and (max-width: 991px) {
      .section-header__item {
        width: 100%; } }
  .section-header-phone span {
    border-bottom: 1px dashed black; }
    .section-header-phone span:hover {
      color: black;
      cursor: pointer;
      border-bottom: 1px solid black; }
  .section-header__form {
    margin-top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 1282px;
    -webkit-box-shadow: 0 10px 53px 4px rgba(32, 35, 30, 0.1);
            box-shadow: 0 10px 53px 4px rgba(32, 35, 30, 0.1);
    position: absolute;
    z-index: 11; }
    @media screen and (max-width: 576px) {
      .section-header__form {
        margin-top: 50px; } }
    .section-header__form::after {
      position: absolute;
      top: -75%;
      right: 0;
      width: 400px;
      height: 200%;
      z-index: -3;
      content: '';
      background: url("../img/header-girl.png") center top no-repeat; }
      @media screen and (max-width: 1199px) {
        .section-header__form::after {
          height: 100%;
          top: -37%;
          background: url("../img/header-girl.png") top 50px right 0 no-repeat;
          background-size: 60%; } }
      @media screen and (max-width: 1090px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 250px right 0 no-repeat;
          background-size: 50%; } }
      @media screen and (max-width: 991px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 260px right 0 no-repeat;
          background-size: 30%; } }
      @media screen and (max-width: 965px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 300px right 0 no-repeat;
          background-size: 30%; } }
      @media screen and (max-width: 911px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 350px right 0 no-repeat;
          background-size: 30%; } }
      @media screen and (max-width: 862px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 365px right 0 no-repeat;
          background-size: 30%; } }
      @media screen and (max-width: 767px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 180px right 0 no-repeat;
          background-size: 40%; } }
      @media screen and (max-width: 635px) {
        .section-header__form::after {
          background: url("../img/header-girl.png") top 260px right 0 no-repeat;
          background-size: 30%; } }
      @media screen and (max-width: 576px) {
        .section-header__form::after {
          display: none; } }
    @media screen and (max-width: 1350px) {
      .section-header__form {
        width: 95%; } }
    .section-header__form .dropdown-toggle::before {
      display: none; }
    @media screen and (max-width: 400px) {
      .section-header__form .form-block_amount-count {
        font-size: 14px; } }
    @media screen and (max-width: 400px) {
      .section-header__form .form__block {
        font-size: 14px; } }
    @media screen and (max-width: 400px) {
      .section-header__form .form__block-drop {
        font-size: 14px; } }
    .section-header__form-col__first {
      padding: 60px 55px 65px 60px; }
      @media screen and (max-width: 1320px) {
        .section-header__form-col__first {
          padding: 60px 25px 65px; } }
      @media screen and (max-width: 1220px) {
        .section-header__form-col__first {
          padding: 60px 10px 65px; } }
      @media screen and (max-width: 1199px) {
        .section-header__form-col__first {
          padding: 60px 55px 65px 60px; } }
      @media screen and (max-width: 991px) {
        .section-header__form-col__first {
          padding: 20px 10px 20px; } }
    .section-header__form-col__second {
      padding: 60px 50px 65px 55px;
      background-color: #f5f5f5; }
      @media screen and (max-width: 991px) {
        .section-header__form-col__second {
          padding: 30px 30px; } }
      @media screen and (max-width: 335px) {
        .section-header__form-col__second {
          padding: 30px 20px; } }
      .section-header__form-col__second .row {
        margin-bottom: 40px; }
        @media screen and (max-width: 1199px) {
          .section-header__form-col__second .row {
            margin-left: auto !important;
            margin-right: auto !important; } }
        @media screen and (max-width: 576px) {
          .section-header__form-col__second .row {
            margin-left: 0 !important;
            margin-right: 0 !important; } }
      .section-header__form-col__second p:first-of-type {
        margin-bottom: 40px; }
      .section-header__form-col__second p:last-of-type {
        margin-bottom: 35px; }
      @media screen and (max-width: 1250px) {
        .section-header__form-col__second .button {
          font-size: 14px; } }
      @media screen and (max-width: 1199px) {
        .section-header__form-col__second .button {
          font-size: 18px; } }
      @media screen and (max-width: 440px) {
        .section-header__form-col__second .button {
          font-size: 16px; } }
      @media screen and (max-width: 346px) {
        .section-header__form-col__second .button {
          font-size: 14px; } }
    .section-header__form-row {
      margin-bottom: 60px; }
      .section-header__form-row:last-child {
        margin-bottom: 0; }
      @media screen and (max-width: 991px) {
        .section-header__form-row {
          margin-bottom: 0; } }
    .section-header__form-title {
      background-color: #feeb17;
      padding: 55px 48px 45px 59px;
      position: relative; }
      @media screen and (max-width: 576px) {
        .section-header__form-title {
          padding: 55px 25px 45px; } }
      .section-header__form-title h5 {
        color: #20231e;
        font-family: "Gotham Pro Black";
        font-size: 30px;
        margin-bottom: 17px; }
        @media screen and (max-width: 500px) {
          .section-header__form-title h5 {
            font-size: 22px; } }
      @media screen and (max-width: 500px) {
        .section-header__form-title p {
          font-size: 14px; } }
    .section-header__form-body {
      background: #fff;
      position: relative; }
.section-services {
  background: #f2f3f5;
  padding: 450px 0 154px; }
  @media screen and (max-width: 1199px) {
    .section-services {
      padding: 870px 0 60px; } }
  @media screen and (max-width: 991px) {
    .section-services {
      padding: 830px 0 40px; } }
  @media screen and (max-width: 810px) {
    .section-services {
      padding: 870px 0 40px; } }
  @media screen and (max-width: 640px) {
    .section-services {
      padding: 900px 0 40px; } }
  @media screen and (max-width: 576px) {
    .section-services {
      padding: 850px 0 40px; } }
  @media screen and (max-width: 355px) {
    .section-services {
      padding: 880px 0 40px; } }
  .section-services h2 {
    margin-bottom: 101px; }
    @media screen and (max-width: 1199px) {
      .section-services h2 {
        margin-bottom: 70px; } }
  .section-services .button {
    opacity: 0;
    -webkit-transition: opacity ease .7s;
    transition: opacity ease .7s;
    width: 100%; }
  .section-services-wrap {
    display: grid;
    grid-template-columns: 385px 385px 385px;
    row-gap: 60px;
    -webkit-column-gap: 65px;
            column-gap: 65px;
    width: 100%; }
    @media screen and (max-width: 1400px) {
      .section-services-wrap {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (max-width: 991px) {
      .section-services-wrap {
        grid-template-columns: 1fr;
        row-gap: 40px; } }
  .section-services-card {
    padding: 61px 55px 61px 71px !important;
    background-color: #fff;
    -webkit-transition: background ease .7s;
    transition: background ease .7s; }
    @media screen and (max-width: 576px) {
      .section-services-card {
        padding: 61px 30px !important; } }
    .section-services-card:hover {
      background-color: #6e6e6e; }
      .section-services-card:hover .section-services-card__title {
        color: #fff; }
      .section-services-card:hover .section-services-card__text {
        color: #fff; }
      .section-services-card:hover .button {
        opacity: 1; }
    .section-services-card__img {
      margin-bottom: 61px; }
    .section-services-card__title {
      color: #20231e;
      font-family: "Gotham Pro Black";
      font-size: 20px;
      margin-bottom: 24px;
      -webkit-transition: color ease .7s, font-size ease .7s;
      transition: color ease .7s, font-size ease .7s; }
    .section-services-card__text {
      line-height: 24px;
      -webkit-transition: color ease .7s, font-size ease .7s;
      transition: color ease .7s, font-size ease .7s; }
      .section-services-card__text p {
        margin-bottom: 24px !important; }
        .section-services-card__text p:last-child {
          margin-bottom: 0 !important; }
.section-technology {
  padding: 115px 0 120px; }
  @media screen and (max-width: 1345px) {
    .section-technology {
      padding: 115px 0 50px; } }
  @media screen and (max-width: 1199px) {
    .section-technology {
      padding: 70px 0 30px; } }
  .section-technology h2 {
    margin-bottom: 105px; }
  .section-technology-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media screen and (max-width: 1345px) {
      .section-technology-wrap {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 0 auto; } }
    @media screen and (max-width: 991px) {
      .section-technology-wrap {
        margin: 0;
        width: 100%; } }
    .section-technology-wrap__card:last-child {
      margin-top: 27px; }
      .section-technology-wrap__card:last-child .section-technology-wrap__card__text {
        padding: 70px 55px 85px 83px;
        border: 2px solid #f2f3f5; }
        @media screen and (max-width: 576px) {
          .section-technology-wrap__card:last-child .section-technology-wrap__card__text {
            padding: 50px 30px; } }
    .section-technology-wrap__card:first-child .section-technology-wrap__card__text {
      padding: 70px 65px 120px 73px;
      background-color: #feeb17; }
      @media screen and (max-width: 576px) {
        .section-technology-wrap__card:first-child .section-technology-wrap__card__text {
          padding: 50px 30px; } }
    .section-technology-wrap__card__text h4 {
      margin-bottom: 35px;
      font-family: "Gotham Pro Black";
      font-size: 18px;
      color: #20231e; }
    .section-technology-wrap__card__text p {
      margin-bottom: 35px !important; }
      .section-technology-wrap__card__text p:last-child {
        margin-bottom: 0 !important; }
.section-order {
  padding: 143px 0 117px;
  background: url("../img/order-bg.png") top center no-repeat;
  position: relative; }
  @media screen and (min-width: 1920px) {
    .section-order {
      background-size: cover; } }
  @media screen and (max-width: 1199px) {
    .section-order {
      padding: 60px 0 60px; } }
  .section-order::after {
    width: 100%;
    height: 100%;
    content: '';
    background: url("../img/oredr-girl.png") right bottom no-repeat;
    position: absolute;
    top: 0;
    left: 0; }
    @media screen and (min-width: 1400px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 100px bottom no-repeat; } }
    @media screen and (min-width: 1600px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 250px bottom no-repeat; } }
    @media screen and (min-width: 1800px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 300px bottom no-repeat; } }
    @media screen and (min-width: 1970px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 300px bottom no-repeat; } }
    @media screen and (min-width: 2090px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 400px bottom no-repeat; } }
    @media screen and (min-width: 2400px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 600px bottom no-repeat; } }
    @media screen and (min-width: 2800px) {
      .section-order::after {
        background: url("../img/oredr-girl.png") right 800px bottom no-repeat; } }
    @media screen and (max-width: 1199px) {
      .section-order::after {
        display: none; } }
  .section-order h2 {
    margin-bottom: 154px; }
    @media screen and (max-width: 1199px) {
      .section-order h2 {
        margin-bottom: 50px; } }
  .section-order-form {
    width: 628px;
    padding: 69px 95px 61px 88px;
    position: relative;
    z-index: 2;
    border-top: 15px solid #feeb17;
    background: #fff;
    -webkit-box-shadow: 0 11px 65px rgba(0, 0, 0, 0.13);
            box-shadow: 0 11px 65px rgba(0, 0, 0, 0.13); }
    @media screen and (max-width: 1199px) {
      .section-order-form {
        margin: 0 auto; } }
    @media screen and (max-width: 767px) {
      .section-order-form {
        width: 100%; } }
    @media screen and (max-width: 576px) {
      .section-order-form {
        padding: 69px 15px; } }
    .section-order-form h5 {
      color: #20231e;
      font-family: "Gotham Pro Black";
      font-size: 33px;
      margin-bottom: 26px; }
      @media screen and (max-width: 1199px) {
        .section-order-form h5 {
          font-size: 24px; } }
      @media screen and (max-width: 767px) {
        .section-order-form h5 {
          font-size: 20px; } }
    .section-order-form__tagline {
      width: 310px;
      color: #6e6e6e;
      margin: 0 auto 38px; }
      @media screen and (max-width: 576px) {
        .section-order-form__tagline {
          width: 100%; } }
    .section-order-form .form__block {
      margin-top: 25px; }
      .section-order-form .form__block:last-child {
        margin-top: 0; }
    .section-order-form .button {
      margin-top: 48px;
      padding-left: 0;
      padding-right: 0; }
      @media screen and (max-width: 1199px) {
        .section-order-form .button {
          margin-top: 20px; } }
.section-guarantee {
  padding: 107px 0 265px;
  position: relative;
  background: url("../img/garantee_bg.png") top no-repeat; }
  @media screen and (min-width: 1800px) {
    .section-guarantee {
      background-size: cover; } }
  @media screen and (max-width: 1199px) {
    .section-guarantee {
      padding-top: 70px; } }
  @media screen and (max-width: 767px) {
    .section-guarantee {
      padding-bottom: 50px; } }
  @media screen and (max-width: 576px) {
    .section-guarantee {
      background-color: #f2f3f5;
      padding: 107px 0 50px; } }
  .section-guarantee::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: url("../img/garantee-mini-bg.png") left 413px top 272px no-repeat;
    z-index: 2; }
    @media screen and (min-width: 1900px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left 500px top 272px no-repeat; } }
    @media screen and (min-width: 2300px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left 700px top 272px no-repeat; } }
    @media screen and (min-width: 2700px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left 900px top 272px no-repeat; } }
    @media screen and (min-width: 3085px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left 1100px top 272px no-repeat; } }
    @media screen and (max-width: 1690px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left 200px top 272px no-repeat; } }
    @media screen and (max-width: 1300px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left 50px top 272px no-repeat; } }
    @media screen and (max-width: 1199px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left -10px top 272px no-repeat; } }
    @media screen and (max-width: 1100px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left -80px top 272px no-repeat; } }
    @media screen and (max-width: 991px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left -280px top 272px no-repeat; } }
    @media screen and (max-width: 767px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left -350px top 272px no-repeat; } }
    @media screen and (max-width: 640px) {
      .section-guarantee::after {
        background: url("../img/garantee-mini-bg.png") left -400px top 272px no-repeat; } }
    @media screen and (max-width: 576px) {
      .section-guarantee::after {
        display: none; } }
  .section-guarantee h2 {
    margin-bottom: 116px; }
    @media screen and (max-width: 767px) {
      .section-guarantee h2 {
        margin-bottom: 30px; } }
  .section-guarantee-list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 3;
    position: relative; }
    .section-guarantee-list ul {
      list-style: disc;
      width: 603px;
      height: 337px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #20231e; }
      @media screen and (max-width: 767px) {
        .section-guarantee-list ul {
          width: 100%;
          height: auto; } }
      @media screen and (max-width: 567px) {
        .section-guarantee-list ul {
          padding: 0 15px; } }
    .section-guarantee-list li:last-child {
      margin-bottom: 0; }
.section-questions {
  padding: 90px 0 114px; }
  @media screen and (max-width: 1199px) {
    .section-questions {
      padding-top: 70px;
      padding-bottom: 60px; } }
  .section-questions-accord {
    margin-top: 127px;
    position: relative;
    margin-left: 52px; }
    @media screen and (max-width: 1199px) {
      .section-questions-accord {
        margin-top: 50px; } }
    @media screen and (max-width: 576px) {
      .section-questions-accord {
        margin-left: 0; } }
    .section-questions-accord__item {
      position: relative;
      margin-bottom: 27px; }
      .section-questions-accord__item:last-child {
        margin-bottom: 0; }
      .section-questions-accord__item:nth-child(1)::before {
        content: '01'; }
      .section-questions-accord__item:nth-child(2)::before {
        content: '02'; }
      .section-questions-accord__item:nth-child(3)::before {
        content: '03'; }
      .section-questions-accord__item:nth-child(4)::before {
        content: '04'; }
      .section-questions-accord__item:nth-child(5)::before {
        content: '05'; }
      .section-questions-accord__item::before {
        position: absolute;
        width: 30px;
        height: 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        top: 0;
        left: -52px;
        font-size: 30px;
        color: #d0d0d0; }
        @media screen and (max-width: 576px) {
          .section-questions-accord__item::before {
            display: none; } }
    .section-questions-accord__title {
      padding: 35px 40px 35px 49px;
      margin-left: 85px;
      color: #20231e;
      font-family: "Gotham Pro Black";
      border: 3px solid #f2f3f5;
      position: relative; }
      @media screen and (max-width: 991px) {
        .section-questions-accord__title {
          padding: 35px 40px 35px 15px; } }
      @media screen and (max-width: 767px) {
        .section-questions-accord__title {
          padding: 35px 10px 35px 10px; } }
      @media screen and (max-width: 560px) {
        .section-questions-accord__title {
          padding: 35px 20px;
          margin-left: 0; } }
      @media screen and (max-width: 490px) {
        .section-questions-accord__title {
          font-size: 14px;
          text-align: center; } }
      .section-questions-accord__title:hover {
        cursor: pointer; }
      .section-questions-accord__title::before {
        content: '?';
        font-size: 54px;
        color: #20231e;
        font-family: "Gotham Pro Regular";
        position: absolute;
        top: -3px;
        left: -88px;
        width: 85px;
        height: calc(100% + 6px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #feeb17; }
        @media screen and (max-width: 560px) {
          .section-questions-accord__title::before {
            display: none; } }
      .section-questions-accord__title::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 100%;
        right: 40px;
        top: 0;
        -webkit-transition: all ease .7s;
        transition: all ease .7s;
        background: url("../img/arrow-accord.png") center no-repeat;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
        @media screen and (max-width: 991px) {
          .section-questions-accord__title::after {
            right: 25px; } }
        @media screen and (max-width: 767px) {
          .section-questions-accord__title::after {
            bottom: 0;
            background-position-y: 0;
            right: 50%; } }
    .section-questions-accord__body {
      padding: 51px 121px 48px 66px;
      border: 3px solid #f2f3f5;
      border-top: 0;
      position: relative;
      margin-left: 85px;
      display: none; }
      @media screen and (max-width: 767px) {
        .section-questions-accord__body {
          padding: 45px 35px; } }
      @media screen and (max-width: 570px) {
        .section-questions-accord__body {
          margin-left: 0; } }
      .section-questions-accord__body ul {
        padding: 0;
        list-style: disc; }
      .section-questions-accord__body::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 100%;
        right: 50%;
        top: 0;
        -webkit-transition: all ease .7s;
        transition: all ease .7s;
        background: url("../img/arrow-accord.png") bottom no-repeat;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        display: none; }
.section-more {
  background: url("../img/no-question-bg.png") top no-repeat;
  padding: 112px 0 120px; }
  @media screen and (min-width: 1800px) {
    .section-more {
      background-size: cover; } }
  @media screen and (max-width: 1199px) {
    .section-more {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .section-more-form {
    grid-area: form;
    width: 628px;
    border-top: 15px solid #feeb17;
    padding: 69px 95px 73px 88px;
    background: #fff;
    -webkit-box-shadow: 0 11px 65px rgba(0, 0, 0, 0.13);
            box-shadow: 0 11px 65px rgba(0, 0, 0, 0.13); }
    @media screen and (max-width: 1399px) {
      .section-more-form {
        margin: 0 auto; } }
    @media screen and (max-width: 991px) {
      .section-more-form {
        margin: 0;
        width: 100%; } }
    @media screen and (max-width: 576px) {
      .section-more-form {
        padding: 60px 20px; } }
    .section-more-form h5 {
      font-size: 33px;
      font-family: "Gotham Pro Black"; }
      @media screen and (max-width: 1199px) {
        .section-more-form h5 {
          font-size: 24px; } }
      @media screen and (max-width: 767px) {
        .section-more-form h5 {
          font-size: 20px; } }
      @media screen and (max-width: 600px) {
        .section-more-form h5 {
          font-size: 18px; } }
      @media screen and (max-width: 400px) {
        .section-more-form h5 {
          font-size: 16px; } }
    .section-more-form__tagline {
      width: 310px;
      color: #6e6e6e;
      margin: 26px auto 38px; }
      @media screen and (max-width: 576px) {
        .section-more-form__tagline {
          width: 100%; } }
    .section-more-form .form__block {
      margin-bottom: 26px; }
      .section-more-form .form__block:last-child {
        margin-bottom: 0; }
    .section-more-form .button {
      margin-top: 60px;
      padding-left: 0;
      padding-right: 0; }
      @media screen and (max-width: 1199px) {
        .section-more-form .button {
          margin-top: 0; } }
  .section-more-wrap {
    display: grid;
    grid-template-columns: 1fr 600px;
    -webkit-column-gap: 98px;
            column-gap: 98px;
    grid-template-areas: 'form item'; }
    @media screen and (max-width: 1399px) {
      .section-more-wrap {
        grid-template-columns: 100%;
        grid-template-areas: 'item' 'form'; } }
  .section-more__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 250px;
    grid-area: item; }
    @media screen and (max-width: 1399px) {
      .section-more__item {
        padding-bottom: 0;
        margin-bottom: 50px; } }
    @media screen and (max-width: 1399px) {
      .section-more__item p {
        width: 70%;
        text-align: center;
        margin: 0 auto; } }
    @media screen and (max-width: 991px) {
      .section-more__item p {
        width: 100%;
        text-align: center;
        margin: 0; } }
  .section-more h2 span:first-child {
    font-size: 60px;
    line-height: 60px; }
    @media screen and (max-width: 1199px) {
      .section-more h2 span:first-child {
        font-size: 33px;
        line-height: 30px; } }
.section-footer {
  background-color: #e1e1e1;
  padding: 84px 0 84px; }
  @media screen and (max-width: 1299px) {
    .section-footer {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .section-footer a:hover {
    color: #000 !important;
    font-weight: bold !important; }
  .section-footer h6 {
    color: #333333;
    font-family: "Gotham Pro Black";
    font-size: 20px;
    line-height: 42px; }
    @media screen and (max-width: 600px) {
      .section-footer h6 {
        font-size: 18px; } }
  .section-footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    @media screen and (max-width: 1299px) {
      .section-footer-block {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media screen and (max-width: 1199px) {
      .section-footer-block__col-tagline {
        font-size: 14px; } }
    @media screen and (max-width: 991px) {
      .section-footer-block__col-tagline {
        font-size: 16px; } }
    @media screen and (max-width: 576px) {
      .section-footer-block__col-tagline {
        font-size: 14px;
        text-align: center; } }
    .section-footer-block__col-logo {
      margin-bottom: 38px; }
      .section-footer-block__col-logo p {
        width: 170px;
        color: #20231e;
        margin-top: 20px; }
    .section-footer-block__col:nth-child(1) {
      margin-right: 105px;
      width: 335px; }
      @media screen and (max-width: 1299px) {
        .section-footer-block__col:nth-child(1) {
          width: 45%;
          margin-right: 5%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media screen and (max-width: 991px) {
        .section-footer-block__col:nth-child(1) {
          width: 100%;
          margin-right: 0; } }
    .section-footer-block__col:nth-child(2) {
      margin-right: 60px;
      width: 260px; }
      @media screen and (max-width: 1299px) {
        .section-footer-block__col:nth-child(2) {
          width: 45%;
          margin-right: 0; }
          .section-footer-block__col:nth-child(2) h6 {
            text-align: center; } }
      @media screen and (max-width: 991px) {
        .section-footer-block__col:nth-child(2) {
          width: 100%;
          text-align: center;
          margin-top: 25px; } }
    .section-footer-block__col:nth-child(3) {
      width: 160px;
      margin-right: 65px; }
      @media screen and (max-width: 1299px) {
        .section-footer-block__col:nth-child(3) {
          width: 45%;
          margin-right: 5%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-top: 25px; } }
      @media screen and (max-width: 991px) {
        .section-footer-block__col:nth-child(3) {
          width: 100%;
          margin-right: 0; } }
    .section-footer-block__col:nth-child(4) {
      width: 305px; }
      @media screen and (max-width: 1299px) {
        .section-footer-block__col:nth-child(4) {
          width: 45%;
          margin-right: 0;
          margin-top: 25px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }
      @media screen and (max-width: 991px) {
        .section-footer-block__col:nth-child(4) {
          width: 100%; } }

@media screen and (min-width: 768px) {
  .active__acord .section-questions-accord__title::after {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important; } }
@media screen and (max-width: 767px) {
  .active__acord .section-questions-accord__title::after {
    background-position-y: -100%; } }
@media screen and (max-width: 767px) {
  .active__acord .section-questions-accord__body::after {
    display: block;
    background-position-y: 100%;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important; } }

.active__card {
  background-color: #6e6e6e; }
  .active__card .section-services-card__title {
    color: #fff; }
  .active__card .section-services-card__text {
    color: #fff; }
  .active__card .button {
    opacity: 1; }

.social-block a {
  color: #757575;
  font-size: 12px;
  line-height: 28px; }
.social-block-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 33px;
          column-gap: 33px;
  padding-top: 27px; }

.no-wrap {
  white-space: nowrap; }

@media screen and (max-width: 991px) {
  .form-block_amount {
    padding: 20px 0; } }
.form-block_amount-btn:hover {
  cursor: pointer;
  background-color: #f8f8f8; }
.form-block_amount .col-5:last-of-type span {
  width: 33.3%; }
  .form-block_amount .col-5:last-of-type span:nth-of-type(2) {
    background-color: #f8f8f8; }
.form__block {
  border-radius: 3px;
  background-color: #f8f8f8;
  padding: 27px 5px 23px 23px; }
  @media screen and (max-width: 991px) {
    .form__block {
      padding: 27px 5px 23px 15px; } }
  @media screen and (max-width: 576px) {
    .form__block {
      padding: 15px 5px 15px 15px; } }
  .form__block input {
    color: #6e6e6e;
    background: transparent; }
    .form__block input:focus {
      border: 0;
      outline: 0; }
  .form__block-validate {
    position: absolute;
    bottom: -calc(100% + 18px);
    background: url("../img/bg-validate.png") center no-repeat;
    z-index: 4;
    background-size: cover;
    left: 0;
    padding: 18px 17px 10px 40px;
    font-size: 13px;
    color: #a1a1a1;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 0.1); }
    .form__block-validate-wrap {
      position: relative; }
    @media screen and (max-width: 355px) {
      .form__block-validate {
        left: -20px; } }
    .form__block-validate::before {
      position: absolute;
      content: '!';
      width: 15px;
      height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 20px;
      font-family: "Gotham Pro Black";
      background-color: #feeb17;
      left: 11px;
      top: 16px;
      color: #000; }
  .form__block-drop {
    background-color: #f8f8f8;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 991px) {
      .form__block-drop {
        padding: 20px 0; } }
    .form__block-drop .dropdown-toggle {
      background-color: #f8f8f8; }
      .form__block-drop .dropdown-toggle::after {
        right: 0; }

.date-picker-text:hover {
  cursor: pointer; }
@media screen and (max-width: 576px) {
  .date-picker-text {
    font-size: 14px; } }
@media screen and (max-width: 348px) {
  .date-picker-text {
    font-size: 12px; } }

.agree-row input {
  margin-top: 5px; }
  .agree-row input:not(.switch) {
    width: 40px !important; }
    .agree-row input:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 6px !important;
      top: 4px;
      -webkit-transform: rotate(var(--r, 20deg));
              transform: rotate(var(--r, 20deg)); }
      @media screen and (max-width: 1265px) {
        .agree-row input:not(.switch):after {
          left: 5px !important; } }
      @media screen and (max-width: 1199px) {
        .agree-row input:not(.switch):after {
          left: 7px !important; } }
      @media screen and (max-width: 630px) {
        .agree-row input:not(.switch):after {
          left: 6px !important; } }
      @media screen and (max-width: 582px) {
        .agree-row input:not(.switch):after {
          left: 5px !important; } }
      @media screen and (max-width: 545px) {
        .agree-row input:not(.switch):after {
          left: 7px !important; } }
      @media screen and (max-width: 515px) {
        .agree-row input:not(.switch):after {
          left: 6px !important; } }
      @media screen and (max-width: 490px) {
        .agree-row input:not(.switch):after {
          left: 5px !important; } }
      @media screen and (max-width: 465px) {
        .agree-row input:not(.switch):after {
          left: 9px !important; } }
      @media screen and (max-width: 450px) {
        .agree-row input:not(.switch):after {
          left: 7px !important; } }
      @media screen and (max-width: 383px) {
        .agree-row input:not(.switch):after {
          left: 6px !important; } }
      @media screen and (max-width: 367px) {
        .agree-row input:not(.switch):after {
          left: 5px !important; } }
.agree-row label {
  margin-left: 21px !important;
  font-size: 13px; }
@media screen and (max-width: 1199px) {
  .agree-row input {
    margin-top: -7px !important; }
    .agree-row input:not(.switch) {
      width: 21px !important; } }
@media screen and (max-width: 715px) {
  .agree-row input:not(.switch) {
    width: 25px !important; } }
@media screen and (max-width: 545px) {
  .agree-row input:not(.switch) {
    width: 30px !important; } }
@media screen and (max-width: 465px) {
  .agree-row input:not(.switch) {
    width: 35px !important; } }
@media screen and (max-width: 465px) {
  .agree-row input:not(.switch) {
    width: 45px !important; } }

textarea {
  resize: none;
  background-color: #f8f8f8;
  padding: 10px 15px; }
  textarea:focus {
    outline: none;
    border: 0; }

#modal-2 .modal__header {
  border-top: 15px solid #f6e416;
  position: relative;
  padding-top: 70px;
  padding-bottom: 40px; }
  #modal-2 .modal__header h6 {
    color: #20231e;
    font-family: "Gotham Pro Black";
    font-size: 33px;
    margin-bottom: 25px; }
    @media screen and (max-width: 576px) {
      #modal-2 .modal__header h6 {
        font-size: 20px; } }
  #modal-2 .modal__header p {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    color: #6e6e6e; }
    @media screen and (max-width: 576px) {
      #modal-2 .modal__header p {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px; } }
#modal-2 .modal__body {
  padding: 0 95px 85px 85px; }
  #modal-2 .modal__body .button {
    margin-top: 70px; }
    @media screen and (max-width: 380px) {
      #modal-2 .modal__body .button {
        padding-left: 0;
        padding-right: 0; } }
  @media screen and (max-width: 576px) {
    #modal-2 .modal__body {
      padding: 0 20px 30px; } }

.button__close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #8a91a8;
  font-weight: bold; }
  .button__close:hover {
    cursor: pointer;
    color: #000; }

#modal-1 .modal__header {
  border-top: 15px solid #f6e416;
  padding: 65px 50px 55px 75px;
  position: relative; }
  @media screen and (max-width: 576px) {
    #modal-1 .modal__header {
      padding: 65px 10px 55px 20px; } }
  #modal-1 .modal__header h6 {
    color: #20231e;
    font-family: "Gotham Pro Black";
    font-size: 24px;
    position: relative; }
    @media screen and (max-width: 576px) {
      #modal-1 .modal__header h6 {
        border-bottom: 3px solid #e2e2e2;
        text-align: center; } }
    @media screen and (max-width: 470px) {
      #modal-1 .modal__header h6 {
        font-size: 18px; } }
    #modal-1 .modal__header h6::after {
      position: absolute;
      content: '';
      top: 50%;
      right: 0;
      width: 60%;
      height: 3px;
      background-color: #e2e2e2; }
      @media screen and (max-width: 1199px) {
        #modal-1 .modal__header h6::after {
          width: 45%; } }
      @media screen and (max-width: 991px) {
        #modal-1 .modal__header h6::after {
          top: auto;
          bottom: -2px;
          width: 100%;
          right: 7%; } }
      @media screen and (max-width: 576px) {
        #modal-1 .modal__header h6::after {
          display: none; } }
  #modal-1 .modal__header .button__close {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #8a91a8;
    font-weight: bold; }
    #modal-1 .modal__header .button__close:hover {
      cursor: pointer;
      color: #000; }
#modal-1 .modal__body {
  padding: 0 45px 55px 55px; }
  @media screen and (max-width: 991px) {
    #modal-1 .modal__body {
      padding: 0 10px 55px 10px;
      font-size: 14px; } }
  @media screen and (max-width: 576px) {
    #modal-1 .modal__body {
      padding: 0 0 55px;
      font-size: 12px; } }
  @media screen and (max-width: 400px) {
    #modal-1 .modal__body {
      font-size: 16px; } }
  #modal-1 .modal__body ul li {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 400px) {
      #modal-1 .modal__body ul li {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
            -ms-flex-direction: column !important;
                flex-direction: column !important;
        -webkit-box-align: center !important;
            -ms-flex-align: center !important;
                align-items: center !important;
        text-align: center; } }
    #modal-1 .modal__body ul li:nth-child(odd) {
      padding: 15px 15px; }
      @media screen and (max-width: 576px) {
        #modal-1 .modal__body ul li:nth-child(odd) {
          padding: 15px 5px; } }
    #modal-1 .modal__body ul li:nth-child(even) {
      padding: 5px 15px;
      background-color: #f3f3f3; }
      @media screen and (max-width: 576px) {
        #modal-1 .modal__body ul li:nth-child(even) {
          padding: 5px 5px; } }
    #modal-1 .modal__body ul li span:first-of-type {
      color: #20231e; }
    #modal-1 .modal__body ul li span:last-of-type {
      font-family: "Gotham Pro Black"; }

#modal-3 .modal__header {
  border-top: 15px solid #f6e416;
  position: relative;
  padding-top: 210px;
  background: url("../img/checked-bg.png") top 65px center no-repeat; }
#modal-3 .modal__body {
  padding-bottom: 105px; }
  @media screen and (max-width: 400px) {
    #modal-3 .modal__body {
      padding-bottom: 50px; } }
  #modal-3 .modal__body h6 {
    color: #252525;
    font-family: "Gotham Pro Black";
    font-size: 33px; }
    @media screen and (max-width: 400px) {
      #modal-3 .modal__body h6 {
        font-size: 20px; } }
  #modal-3 .modal__body p {
    color: #868686;
    font-family: "Gotham Pro Black";
    font-size: 18px;
    font-weight: 400;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; }
    @media screen and (max-width: 576px) {
      #modal-3 .modal__body p {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
    @media screen and (max-width: 400px) {
      #modal-3 .modal__body p {
        font-size: 16px; } }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #fff;
    --active-inner: #bcbcbc;
    --focus: 2px #bcbcbc;
    --border: #bcbcbc;
    --border-hover: #bcbcbc;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #56d6bb;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 19px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    -webkit-transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: background .3s, border-color .3s, -webkit-box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s;
    transition: background .3s, border-color .3s, box-shadow .2s, -webkit-box-shadow .2s; }
    input[type='checkbox']:after,
    input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease); }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      border-color: #bcbcbc; }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9; }
      input[type='checkbox']:disabled:checked,
      input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      input[type='checkbox']:disabled + label,
      input[type='radio']:disabled + label {
        cursor: not-allowed; }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
      -webkit-box-shadow: 0 0 0 var(--focus);
              box-shadow: 0 0 0 var(--focus); }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
      width: 21px; }
      input[type='checkbox']:not(.switch):after,
      input[type='radio']:not(.switch):after {
        opacity: var(--o, 0); }
      input[type='checkbox']:not(.switch):checked,
      input[type='radio']:not(.switch):checked {
        --o: 1; }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px; }

  input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg));
            transform: rotate(var(--r, 20deg)); }
  input[type='checkbox']:not(.switch):checked {
    --r: 43deg; }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px; }
    input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      -webkit-transform: translateX(var(--x, 0));
              transform: translateX(var(--x, 0)); }
    input[type='checkbox'].switch:checked {
      --ab: var(--active-inner);
      --x: 17px; }
    input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6; } }

/*# sourceMappingURL=style.css.map */