$font-main-reg: 'Gotham Pro Regular';
$font-main-light: 'Gotham Pro Light';
$font-main-medium: 'Gotham Pro Medium';
$font-main-black: 'Gotham Pro Black';

$fotn-second: 'Lato';


$size-main: 16px;


$color-link: #000;